{% extends template('widget') %}

 {% define data = {
     orders: _widget.orders
 } %}

{% block body %}
    {% if data.orders is not empty %}
        <div style="border: 1px solid rgba(220,20,60,1); padding: 1rem; background: rgba(220,20,60,0.2); ">
            <p>You have ordered this Product already:</p>
            {% for order in data.orders %}
                {% embed molecule('order-suggest', 'CustomerOrderSearch') with {
                    data: {
                        order: order,
                    },
                } only %}
                {% endembed %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
